  body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
  }

  main {
    flex: 1 0 auto;
  }

  .styled{
font-family: 'Pacifico', cursive;
color: #ef6b74;
  }

  hr{
  border-color:#ef6b74;
  }
