<!DOCTYPE html>
<html>
  <head>
    <title>HIS.HER.HAIR</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css?family=Architects+Daughter|Homemade+Apple&display=swap" rel="stylesheet">
    <link rel='stylesheet' href='/app.css'>
 <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">

        <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>

  </head>
  <body>
 <nav>
   <nav class="nav-extended">
       <div class="nav-wrapper">
         <a href="#" class="brand-logo">HIS.HER.HAIR</a>
         <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
         <ul id="nav-mobile" class="right hide-on-med-and-down">
           <li><a href="#">Home</a></li>
           <li><a href="#">Stylists</a></li>
           <li><a href="#">Clients</a></li>
         </ul>
       </div>

     </nav>

     <ul class="sidenav" id="mobile-demo">
       <li><a href="#">Home</a></li>
       <li><a href="#">Stylists</a></li>
       <li><a href="#">Clients</a></li>
     </ul>


  </nav>
    <div class="container">
      #parse( $template )
    </div>
 <script src="../script.js"></script>
  </body>
</html>